/*Style Ref*/
.blue1 {
    padding: 50px;
    position: relative;
    background: rgb(67, 170, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    opacity:98%;
    }

.blue2 {
padding:50px;
position: relative;
background: rgb(52, 135, 202);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
opacity:98%;
    }

.pink1 {
padding:50px;
position: relative;
background: #ff98b9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
opacity:98%;
}

.pink2 {
    padding:50px;
    position: relative;
    background: #ff6294;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    opacity:98%;
    }

.white1 {
    padding:50px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    opacity:98%;
    }

.white2 {
    padding:50px;
    position: relative;
    background: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    opacity:98%;
        }

 .webring {
 transform: scale(1.4);
 margin: auto;
 height: min-content;
 width: max-content;
  }

.ratio {
aspect-ratio: 16/9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.shadow {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
}

a.gallerypic{
  width:140px;
  text-decoration:none;
  position:relative;
  display:block;
  border:1px solid #666;
  padding:3px;
  margin-right:5px;
  float:left;
}

body {
  background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    /*Text Color*/
    color:#000000;
    
    /*Text Margins*/
    margin: 50px;
    padding: 50px;
    
    /*Font*/
    font-family:"Fira Sans Condensed", sans-serif;
    }
    .fira-sans condensed-thin {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
    
    .fira-sans condensed-extralight {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .fira-sans condensed-light {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .fira-sans condensed-regular {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .fira-sans condensed-medium {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .fira-sans condensed-semibold {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .fira-sans condensed-bold {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .fira-sans condensed-extrabold {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
    
    .fira-sans condensed-black {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
    
    .fira-sans condensed-thin-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 100;
      font-style: italic;
    }
    
    .fira-sans condensed-extralight-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 200;
      font-style: italic;
    }
    
    .fira-sans condensed-light-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .fira-sans condensed-regular-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .fira-sans condensed-medium-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .fira-sans condensed-semibold-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 600;
      font-style: italic;
    }
    
    .fira-sans condensed-bold-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .fira-sans condensed-extrabold-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 800;
      font-style: italic;
    }
    
    .fira-sans condensed-black-italic {
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 900;
      font-style: italic;
    }
    
    /*Font Size*/
    h1 {
        font-size:60px;
    }
    h2 {
        font-size:45px;
    }
    h3 {
        font-size:33px;
    }
    p {
        font-size:26px;
    }

.CrispPixels {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}
.CrispPixels2 {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
    
.topnav {
    overflow: hidden;
    background-color: #ff98b9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    height:100px;
    width:100%;
    opacity:95%;

  }

  .shoutbox {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    position:fixed;
    bottom:0;
    right:0;
    z-index:1;
    height:200px;
    width:300px;

  }
